<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>青年之声</title>
		<link rel="stylesheet" href="__PUBLIC__/home/css/index.css">
	</head>
	<body>
		
		<div id="header">
			<div class="school-logo">
				<img src="__PUBLIC__/home/images/cqupt.png">
			</div>
			<div class="nav-bar">
				
			</div>
			<div class="login-reg-btn">
				<span>登录</span>
					|
				<span>注册</span>
			</div>
		</div>
		
		<div id="main">
			
			<div class="teen-logo">
				<img src="__PUBLIC__/home/images/logo.png">
			</div>
				
			<div class="main-content">
				<div class="left-sidebar">
					<div class="add-question-container">
						<span>提问框</span>
						<div>
							<button>@提问</button>
						</div>
						<div>
							<button>公开提问</button>
						</div>
					</div>
					
					<div class="website-link">
						
					</div>

				</div>
				
				<div class="question-list">
					
				</div>
				
				<div class="right-sidebar">
					
				</div>

			</div>	
			
		</div>
		
		
	</body>
</html>