body {
  background-color: whitesmoke; }

.am-vertical-align-middle {
  vertical-align: middle;
  margin-top: 2px; }

.am-panel {
  margin-bottom: 10px;
  border: 0; }

.am-panel-footer {
  border-top: none;
  background-color: #fff;
  font-size: 13px;
  color: #929292;
  box-shadow: 1px 1px 1px;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.am-panel-footer div {
  margin: 0;
  display: inline-block;
  width: 33.3%;
  border-left: 1px solid #dadada;
  text-align: center; }

.am-panel-footer div:first-child {
  border-left: 0; }

.am-panel-footer div i {
  font-size: 14px; }

.am-panel-footer div span {
  margin-left: 3px; }

.am-panel-footer div:first-child span {
  color: #999;
  font-weight: lighter;
  letter-spacing: -1px; }

.am-panel-default {
  background-color: #fff;
  border-top: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #d8d8d8; }

.am-panel-default > .am-panel-hd {
  background-color: transparent; }

.am-popup-hd {
  z-index: 1;
  padding: 0; }

/* .am-popup-bd {
		padding: 0;
	} */
.add-question {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: #0e90d2;
  position: fixed;
  bottom: 10px;
  right: 10px;
  -webkit-box-shadow: -1px 0px 6px; }

.add-question i {
  font-size: 20px;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  vertical-align: middle;
  color: #eee; }

.am-modal-actions-group {
  margin: 0; }

.loading-more span {
  color: #929292;
  font-size: 14px; }

@-webkit-keyframes openChooseList {
  0% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    background-color: #0a628f; } }

@-webkit-keyframes closeChooseList {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    background-color: #0e90d2; } }

.openChooseListAnimation {
  -webkit-animation-name: openChooseList;
  -webkit-animation-duration: .3s; }

.closeChooseListAnimation {
  -webkit-animation-name: closeChooseList;
  -webkit-animation-duration: .3s; }
