    <include file="Public/header" />

    <link rel="stylesheet" href="__PUBLIC__/mobile/css/personal.css">
    
        <?php if ($data['is_chairman']) { ?>
            <div class="am-g" id="user-info">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">
                        <div class="user-face">
                            <img src="{$data.info.picture}">
                        </div>
                    </div>
                    <div class="am-panel-bd">
                        <p><strong>{$data.info.chairname}</strong></p>
                        <div class="user-intro">{$data.info.information}</div>
                    </div>
                </div>
            </div>

            <div class="am-g" id="user-question-list">
                <div data-am-widget="tabs" class="am-tabs am-tabs-d2">
                    <ul class="am-tabs-nav am-cf">
                        <li class="am-active">
                            <a href="[data-tab-panel-question]">我的提问</a>
                        </li>
                        <li class="">
                            <a href="[data-tab-panel-be-question]">@我的问题</a>
                        </li>
                    </ul>
                    <div class="am-tabs-bd">
                        <div data-tab-panel-question class="am-tab-panel am-active">
                            <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                                <div class="am-list-news-bd">
                                    <ul class="am-list">
                                        <volist name="data['question']" id="v">
                                            <li class="am-g am-list-item-desced">
                                                <div class="am-list-item-title">
                                                    <a href="__MODULE__/Question/detail/id/{$v.id}" class="am-list-item-hd" data-id="{$v.id}">{$v.title}</a>
                                                    <i class="am-icon-close am-fr"></i>
                                                </div>
                                                <div class="am-list-item-text">{$v.question}</div>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div data-tab-panel-be-question class="am-tab-panel">
                            <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                                <div class="am-list-news-bd">
                                    <ul class="am-list">
                                        <volist name="data['be_question']" id="v">
                                            <li class="am-g am-list-item-desced">
                                                <div class="am-list-item-title">
                                                    <a href="__MODULE__/Question/detail/id/{$v.id}" class="am-list-item-hd" data-id="{$v.id}">{$v.title}</a>
                                                </div>
                                                <div class="am-list-item-text">{$v.question}</div>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <?php } else { ?>
            <div class="am-g" id="normal-user-question-list">
                <div data-am-widget="list_news" class="am-list-news am-list-news-default">
                    <div class="am-list-news-bd">
                        <ul class="am-list">
                            <volist name="data['question']" id="v">
                                <li class="am-g am-list-item-desced">
                                    <div class="am-list-item-title">
                                        <a href="__MODULE__/Question/detail/id/{$v.id}" class="am-list-item-hd" data-id="{$v.id}">{$v.title}</a>
                                        <i class="am-icon-close am-fr"></i>
                                    </div>
                                    <div class="am-list-item-text">{$v.question}</div>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
        <?php } ?>
        
        
    <include file="Public/footer" />

    <script>
        $(function () {
            $('.am-icon-close').on('click', question.delete);
        });
    </script>
