<include file="Index/header" />
	<form style="margin:300px auto; width:300px;" action="{:U('Addxueba/add')}" method="post"  enctype="multipart/form-data">
		<div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="本人名字">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="password" placeholder="登陆密码">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="info" placeholder="计算机学院">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="sex" placeholder="性别 填男女">
        </div>
        <div class="form-group">
        	<label style="color: white; display:inline">头像</label>
        	<input type="file" name="pic">
        </div>
        <div class="form-group">
        	<input type="submit" class="btn btn-info" value="提交">
        </div>
	</form>
<include file="Index/footer" />