@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-huidaodingbu:before {
  content: "\e601"; }

.icon-guanbi:before {
  content: "\e603"; }

.icon-dianzanhou01:before {
  content: "\e604"; }

.icon-dianzanqian01:before {
  content: "\e605"; }

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

button {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

input {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

p {
  margin: 0;
  padding: 0; }

#header {
  width: 100%; }
  #header .nav-bar {
    height: 66px;
    margin: 0 auto 1px;
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #fafafa);
    background-image: -ms-linear-gradient(top, #fff, #fafafa);
    background-image: -webkit-linear-gradient(top, #fff, #fafafa); }
    #header .nav-bar ul {
      height: 100%;
      width: 1000px;
      padding: 0;
      margin: 0 auto; }
      #header .nav-bar ul li {
        float: left;
        height: 100%;
        padding: 0 17px;
        cursor: pointer; }
        #header .nav-bar ul li a {
          line-height: 66px;
          font-size: 18px;
          color: #0b6ebb; }
      #header .nav-bar ul .nav:hover {
        background: #079ae6;
        background-image: -webkit-linear-gradient(top, #0ba0ed, #0699e5);
        border-bottom: 1px solid #028cd3; }
        #header .nav-bar ul .nav:hover a {
          color: #fffefe; }
      #header .nav-bar ul .school-logo {
        margin-right: 67px;
        padding: 0; }
        #header .nav-bar ul .school-logo img {
          vertical-align: middle;
          padding-top: 13px; }
  #header .login-reg-btn {
    position: relative;
    height: 33px;
    display: inline;
    opacity: 0;
    line-height: 33px;
    color: #0a6aa7;
    font-size: 18px; }
    #header .login-reg-btn span {
      cursor: pointer; }

#main {
  width: 1002px;
  margin: 0 auto; }
  #main .teen-logo {
    text-align: center;
    margin-bottom: 154px; }
    #main .teen-logo img {
      text-align: center; }
  #main .main-content {
    overflow: hidden;
    margin-bottom: 50px; }
    #main .main-content .left-sidebar {
      float: left;
      width: 170px; }
      #main .main-content .left-sidebar .add-question-container {
        padding: 16px;
        margin-bottom: 10px;
        background-color: #f6f7f7; }
        #main .main-content .left-sidebar .add-question-container p {
          color: #333;
          font-size: 15.72px; }
        #main .main-content .left-sidebar .add-question-container .at-question {
          margin: 16px 0; }
        #main .main-content .left-sidebar .add-question-container div button {
          height: 33px;
          width: 100%;
          color: #f4f7fc;
          font-size: 16px;
          background-color: #7ecef4;
          background-image: -moz-linear-gradient(top, #1a8ddf, #1f7ec5);
          background-image: -ms-linear-gradient(top, #1a8ddf, #1f7ec5);
          background-image: -webkit-linear-gradient(top, #1a8ddf, #1f7ec5);
          border-radius: 2px;
          box-shadow: 1px 1px 1px #64daf6;
          cursor: pointer; }
          #main .main-content .left-sidebar .add-question-container div button:focus {
            outline: none; }
      #main .main-content .left-sidebar .website-link {
        padding: 16px;
        background-color: #f6f7f7; }
        #main .main-content .left-sidebar .website-link p {
          color: #333;
          font-size: 15.72px; }
        #main .main-content .left-sidebar .website-link ul li {
          margin: 8px 0; }
          #main .main-content .left-sidebar .website-link ul li a {
            font-size: 14px; }
    #main .main-content .middle {
      background-color: #f6f7f7;
      float: left;
      margin: 0 20px;
      width: 558px;
      min-height: 500px; }
      #main .main-content .middle .list-title {
        height: 43px;
        background-color: #fff; }
        #main .main-content .middle .list-title .all-question, #main .main-content .middle .list-title .ask-me {
          height: 42px;
          width: 78px;
          text-align: center;
          font-size: 14px;
          color: #545454;
          float: left;
          line-height: 43px;
          cursor: pointer; }
        #main .main-content .middle .list-title .all-question {
          border-right: 1px solid #eee; }
        #main .main-content .middle .list-title .on-focus {
          color: #5e8bcc;
          border-bottom: 1px solid #5e8cca; }
      #main .main-content .middle .be-question-list .question, #main .main-content .middle .question-list .question {
        margin-top: 10px;
        padding: 14px 11px 22px;
        background-color: #fff; }
        #main .main-content .middle .be-question-list .question .question-header, #main .main-content .middle .question-list .question .question-header {
          height: 47px;
          border-bottom: 1px solid #f2f2f2; }
          #main .main-content .middle .be-question-list .question .question-header .user-avatar, #main .main-content .middle .question-list .question .question-header .user-avatar {
            float: left;
            margin-right: 10px; }
            #main .main-content .middle .be-question-list .question .question-header .user-avatar img, #main .main-content .middle .question-list .question .question-header .user-avatar img {
              width: 36px;
              height: 36px; }
          #main .main-content .middle .be-question-list .question .question-header .user-name, #main .main-content .middle .question-list .question .question-header .user-name {
            color: #262626;
            font-size: 14px;
            margin-bottom: 10px; }
          #main .main-content .middle .be-question-list .question .question-header .post-date, #main .main-content .middle .question-list .question .question-header .post-date {
            color: #999;
            font-size: 12px; }
        #main .main-content .middle .be-question-list .question .question-body, #main .main-content .middle .question-list .question .question-body {
          padding-top: 17px;
          padding-bottom: 14px; }
          #main .main-content .middle .be-question-list .question .question-body .question-title, #main .main-content .middle .question-list .question .question-body .question-title {
            font-size: 14px;
            color: #333;
            cursor: pointer; }
            #main .main-content .middle .be-question-list .question .question-body .question-title span, #main .main-content .middle .question-list .question .question-body .question-title span {
              float: right;
              display: inline-block;
              height: 10px;
              min-width: 10px;
              padding: 2px 8px;
              font-size: 10px;
              font-weight: 700;
              color: #fff;
              line-height: 1;
              vertical-align: baseline;
              white-space: nowrap;
              background-color: #999; }
          #main .main-content .middle .be-question-list .question .question-body .question-content, #main .main-content .middle .question-list .question .question-body .question-content {
            font-size: 12px;
            line-height: 18px;
            color: #333;
            padding-top: 12px; }
        #main .main-content .middle .be-question-list .question .question-footer .question-praise, #main .main-content .middle .question-list .question .question-footer .question-praise {
          width: 100%;
          text-align: right;
          padding-right: 10px;
          color: #fc736b; }
          #main .main-content .middle .be-question-list .question .question-footer .question-praise i, #main .main-content .middle .question-list .question .question-footer .question-praise i {
            font-size: 14px;
            cursor: pointer;
            vertical-align: bottom; }
          #main .main-content .middle .be-question-list .question .question-footer .question-praise span, #main .main-content .middle .question-list .question .question-footer .question-praise span {
            font-size: 14px;
            vertical-align: bottom; }
        #main .main-content .middle .be-question-list .question .question-footer .question-comments-list, #main .main-content .middle .question-list .question .question-footer .question-comments-list {
          margin-top: 5px;
          width: 100%; }
          #main .main-content .middle .be-question-list .question .question-footer .question-comments-list .question-comment, #main .main-content .middle .question-list .question .question-footer .question-comments-list .question-comment {
            overflow: hidden;
            width: 540px;
            margin-bottom: 15px; }
            #main .main-content .middle .be-question-list .question .question-footer .question-comments-list .question-comment .comment-header, #main .main-content .middle .question-list .question .question-footer .question-comments-list .question-comment .comment-header {
              float: left;
              height: 28px;
              width: 28px; }
              #main .main-content .middle .be-question-list .question .question-footer .question-comments-list .question-comment .comment-header img, #main .main-content .middle .question-list .question .question-footer .question-comments-list .question-comment .comment-header img {
                border: none; }
            #main .main-content .middle .be-question-list .question .question-footer .question-comments-list .question-comment .comment-body, #main .main-content .middle .question-list .question .question-footer .question-comments-list .question-comment .comment-body {
              float: left;
              width: 502px;
              margin-left: 10px;
              min-height: 28px;
              font-size: 12px; }
              #main .main-content .middle .be-question-list .question .question-footer .question-comments-list .question-comment .comment-body .comment-content, #main .main-content .middle .question-list .question .question-footer .question-comments-list .question-comment .comment-body .comment-content {
                min-height: 14px; }
                #main .main-content .middle .be-question-list .question .question-footer .question-comments-list .question-comment .comment-body .comment-content .comment-user-name, #main .main-content .middle .question-list .question .question-footer .question-comments-list .question-comment .comment-body .comment-content .comment-user-name {
                  color: #f36c7d; }
              #main .main-content .middle .be-question-list .question .question-footer .question-comments-list .question-comment .comment-body .comment-date, #main .main-content .middle .question-list .question .question-footer .question-comments-list .question-comment .comment-body .comment-date {
                height: 10px;
                font-size: 10px;
                margin-top: 6px;
                color: #9a9a9a;
                vertical-align: bottom; }
        #main .main-content .middle .be-question-list .question .question-footer .question-reply, #main .main-content .middle .question-list .question .question-footer .question-reply {
          width: 100%;
          padding-top: 14px; }
          #main .main-content .middle .be-question-list .question .question-footer .question-reply input, #main .main-content .middle .question-list .question .question-footer .question-reply input {
            width: 444px;
            height: 30px;
            border: 1px solid #ebebeb;
            display: inline;
            padding: 0 8px;
            letter-spacing: .7px;
            outline: none; }
            #main .main-content .middle .be-question-list .question .question-footer .question-reply input:focus, #main .main-content .middle .question-list .question .question-footer .question-reply input:focus {
              border-color: #3686c5; }
          #main .main-content .middle .be-question-list .question .question-footer .question-reply input::-webkit-input-placeholder, #main .main-content .middle .question-list .question .question-footer .question-reply input::-webkit-input-placeholder {
            color: #9a9a9a; }
          #main .main-content .middle .be-question-list .question .question-footer .question-reply button, #main .main-content .middle .question-list .question .question-footer .question-reply button {
            height: 32px;
            width: 70px;
            color: #fff;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 30px;
            background-color: #3686c5;
            cursor: pointer; }
      #main .main-content .middle .loading-more {
        margin-top: 10px;
        height: 40px;
        width: 100%;
        background-color: #fff;
        text-align: center;
        line-height: 40px;
        cursor: pointer; }
    #main .main-content .right-sidebar {
      float: left;
      width: 234px; }
      #main .main-content .right-sidebar .weico-link-list {
        background-color: #f6f7f7;
        margin-bottom: 10px; }
        #main .main-content .right-sidebar .weico-link-list p {
          padding: 16px 16px 0;
          color: #333;
          font-size: 15.72px; }
        #main .main-content .right-sidebar .weico-link-list .weico-avatar-list {
          height: 100%;
          padding: 16px 16px 11px; }
          #main .main-content .right-sidebar .weico-link-list .weico-avatar-list li {
            display: inline-block;
            width: 60px;
            margin-bottom: 3px;
            text-align: center; }
            #main .main-content .right-sidebar .weico-link-list .weico-avatar-list li span {
              color: #676767;
              font-size: 14px;
              margin-top: 3px; }
            #main .main-content .right-sidebar .weico-link-list .weico-avatar-list li img {
              border-radius: 3px;
              border: 2px solid #f6f7f7;
              cursor: pointer;
              height: 58px;
              width: 58px; }
              #main .main-content .right-sidebar .weico-link-list .weico-avatar-list li img:hover {
                border-color: #3dc3f1; }
          #main .main-content .right-sidebar .weico-link-list .weico-avatar-list .weico-avatar-middle {
            margin: 0 7px; }
      #main .main-content .right-sidebar .show-more-weico, #main .main-content .right-sidebar .show-more-president {
        width: 100%;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background-color: #fff;
        color: #676767;
        cursor: pointer; }
        #main .main-content .right-sidebar .show-more-weico:hover, #main .main-content .right-sidebar .show-more-president:hover {
          background-color: #eee; }
      #main .main-content .right-sidebar .president-list {
        background-color: #f6f7f7; }
        #main .main-content .right-sidebar .president-list p {
          padding: 16px 16px;
          color: #333;
          font-size: 15.72px; }
        #main .main-content .right-sidebar .president-list ul li {
          height: 43px;
          padding: 10px 16px; }
          #main .main-content .right-sidebar .president-list ul li img {
            float: left; }
          #main .main-content .right-sidebar .president-list ul li .president-info, #main .main-content .right-sidebar .president-list ul li .handle {
            float: left;
            margin-left: 10px;
            height: 43px; }
            #main .main-content .right-sidebar .president-list ul li .president-info p, #main .main-content .right-sidebar .president-list ul li .handle p {
              margin: 0;
              padding: 0;
              font-size: 14px;
              color: #333; }
          #main .main-content .right-sidebar .president-list ul li .president-name, #main .main-content .right-sidebar .president-list ul li .view-info {
            height: 29px; }
          #main .main-content .right-sidebar .president-list ul li .president-dep, #main .main-content .right-sidebar .president-list ul li .at-me {
            height: 14px; }
          #main .main-content .right-sidebar .president-list ul li .handle {
            float: right; }
            #main .main-content .right-sidebar .president-list ul li .handle p {
              color: #3886c6;
              cursor: pointer; }
        #main .main-content .right-sidebar .president-list ul li:nth-child(odd) {
          background-color: #fff; }

#footer {
  height: 70px;
  width: 100%;
  background-color: #167dbf;
  padding: 30px 0;
  text-align: center; }
  #footer p {
    margin: 7px 0;
    color: #83c7f2;
    font-size: 14px; }

.dimmer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000300;
  opacity: .5;
  display: none; }

#add-question-view-at {
  min-height: 547px; }
  #add-question-view-at .add-question-view-at-body {
    height: 410px;
    background-color: #f6f7f7;
    padding: 30px; }
    #add-question-view-at .add-question-view-at-body select {
      width: 605px;
      margin-left: 1px;
      font-size: 20px; }
      #add-question-view-at .add-question-view-at-body select:focus {
        outline: none; }

#add-question-view-public, #add-question-view-at {
  width: 664px;
  min-height: 467px;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }
  #add-question-view-public .add-question-view-public-header, #add-question-view-public .add-question-view-at-header, #add-question-view-at .add-question-view-public-header, #add-question-view-at .add-question-view-at-header {
    height: 37px; }
    #add-question-view-public .add-question-view-public-header strong, #add-question-view-public .add-question-view-at-header strong, #add-question-view-at .add-question-view-public-header strong, #add-question-view-at .add-question-view-at-header strong {
      color: #fddc28;
      font-size: 24px;
      text-shadow: 0px 0px .3px #ffffbe; }
    #add-question-view-public .add-question-view-public-header i, #add-question-view-public .add-question-view-at-header i, #add-question-view-at .add-question-view-public-header i, #add-question-view-at .add-question-view-at-header i {
      float: right;
      font-size: 24px;
      color: #f4f5f5;
      font-weight: bold;
      cursor: pointer; }
  #add-question-view-public .add-question-view-public-body, #add-question-view-at .add-question-view-public-body {
    height: 370px;
    background-color: #f6f7f7;
    padding: 30px; }
  #add-question-view-public .form-control, #add-question-view-at .form-control {
    width: 604px;
    margin-bottom: 20px;
    overflow: hidden; }
    #add-question-view-public .form-control input, #add-question-view-at .form-control input {
      height: 18px;
      width: 578px;
      padding: 12px 12px;
      font-size: 14px;
      letter-spacing: 1.2px;
      color: #999;
      border: 1px solid #d8d9d9; }
      #add-question-view-public .form-control input:focus, #add-question-view-at .form-control input:focus {
        outline: none; }
    #add-question-view-public .form-control textarea, #add-question-view-at .form-control textarea {
      width: 578px;
      height: 229px;
      padding: 12px 12px;
      font-size: 14px;
      border: 1px solid #d8d9d9; }
      #add-question-view-public .form-control textarea:focus, #add-question-view-at .form-control textarea:focus {
        outline: none; }
    #add-question-view-public .form-control button, #add-question-view-at .form-control button {
      float: right;
      width: 94px;
      height: 33px;
      background-color: #1b8bdb;
      background-image: -moz-linear-gradient(top, #1a8ddf, #1f7ec5);
      background-image: -ms-linear-gradient(top, #1a8ddf, #1f7ec5);
      background-image: -webkit-linear-gradient(top, #1a8ddf, #1f7ec5);
      border-radius: 1px;
      color: #fff;
      font-size: 14px;
      line-height: 33px;
      box-shadow: 1px 1px 1px #3686c4;
      cursor: pointer; }
      #add-question-view-public .form-control button:focus, #add-question-view-at .form-control button:focus {
        outline: none; }

#login-view-container {
  width: 340px;
  min-height: 250px;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }
  #login-view-container .login-view-header {
    height: 33px; }
    #login-view-container .login-view-header strong {
      color: #fddc28;
      font-size: 24px;
      text-shadow: 0px 0px .3px #ffffbe; }
    #login-view-container .login-view-header i {
      float: right;
      font-size: 24px;
      color: #f4f5f5;
      font-weight: bold;
      cursor: pointer; }
  #login-view-container .login-view-body {
    height: 165px;
    width: 280px;
    padding: 50px 30px 53px;
    background-color: #f6f7f7; }
  #login-view-container .form-control {
    width: 280px;
    margin-bottom: 20px;
    overflow: hidden; }
    #login-view-container .form-control label {
      display: block;
      margin-bottom: 6px;
      font-size: 14px; }
      #login-view-container .form-control label strong {
        float: right;
        cursor: pointer; }
    #login-view-container .form-control input {
      height: 18px;
      width: 258px;
      padding: 7px 10px;
      font-size: 14px;
      letter-spacing: 1.2px;
      border-radius: 2px;
      color: #999;
      border: 1px solid #d8d9d9; }
      #login-view-container .form-control input:focus {
        outline: none; }
    #login-view-container .form-control button {
      width: 280px;
      height: 36px;
      background-color: #3686c4;
      background-image: -moz-linear-gradient(top, #1f7ec5, #1a8ddf);
      background-image: -ms-linear-gradient(top, #1f7ec5, #1a8ddf);
      background-image: -webkit-linear-gradient(top, #1f7ec5, #1a8ddf);
      color: #fff;
      font-size: 14px;
      letter-spacing: .3em;
      border-radius: 2px;
      cursor: pointer; }
