	<include file="Public/header" />

	<link rel="stylesheet" href="__PUBLIC__/mobile/css/personal.css?v=sdsd">

		
		<div class="am-g">
			
			<div class="am-panel am-panel-default">
			  	<div class="am-panel-hd">
					<div class="user-face">
						<img src="__PUBLIC__/mobile/images/user_face.png">
					</div>
			  	</div>
			  	<div class="am-panel-bd">
					<p><strong>咬碎</strong></p>
					<div class="user-intro">
						这是礼节介绍这是礼节介绍这是礼节介绍这是礼节介绍这是礼节介绍
						这是礼节介绍这是礼节介绍这是礼节介绍这是礼节介绍这是礼节介绍
						这是礼节介绍这是礼节介绍这是礼节介绍
					</div>
			  	</div>
			</div>
			

			
		</div>


		


	<include file="Public/footer" />
