<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>青年之声首页</title>
		<link rel="stylesheet" href="__PUBLIC__/mobile/css/amazeui.min.css">
	</head>
	<body>
	
		<div id="index">
			<div class="am-g">
	            <header data-am-widget="header" class="am-header am-header-default scrollspy-nav" data-am-scrollspy-nav="{offsetTop: 45}" data-am-sticky>
			      	<div class="am-header-left am-header-nav">
			          	<a href="__MODULE__/User/get_voice">
							<i class="am-header-icon am-icon-home"></i>
			          	</a>
			      	</div>

			      	<h1 class="am-header-title">
			          	<a href="javascript:void(0)">
			       			最新提问
			          	</a>
			      	</h1>

			      	<div class="am-header-right am-header-nav">
			          	<a href="javascript:void(0)">
			                <i class="am-header-icon am-icon-user"></i>
			          	</a>
			      	</div>
			  	</header>
	        </div>