
	body {
		background-color: rgb(245, 245, 245);
	}
	
	.add-question {
		height: 5rem;
		width: 5rem;
		border-radius: 50%;
		background-color: #0e90d2;
		position: fixed;
		bottom: 16px;
		right: 16px;
		-webkit-box-shadow: -1px 0px 6px;

	}

	.add-question i {
		font-size: 20px;
		width: 5rem;
		height: 5rem;
		line-height: 5rem;
		text-align: center;
		vertical-align: middle;
		color: #eee;
	}

	.am-modal-actions-group {
		margin: 0;
	}

	.am-list-news-default {
		margin: 0;
	}
	.am-list-item-desced {
		padding: 1rem;
	}

	.loading-more span {
		color: rgb(146, 146, 146);
		font-size: 14px;
	}

	@-webkit-keyframes openChooseList {
        0% {
            -webkit-transform: scale(1);
        }
        100% {
            -webkit-transform: scale(0);
            background-color: #0a628f;
        }
    }

    @-webkit-keyframes closeChooseList {
        0% {
            -webkit-transform: scale(0);
        }
        100% {
            -webkit-transform: scale(1);
            background-color: #0e90d2;
        }
    }

	.openChooseListAnimation {
		-webkit-animation-name: openChooseList;
        -webkit-animation-duration: .3s;
	}
	
	.closeChooseListAnimation {
		-webkit-animation-name: closeChooseList;
        -webkit-animation-duration: .3s;
	}
