
	
	#user-info {
		.am-panel {
			border: none;
		}

		.am-panel-hd {
			padding: 0;
			border: none;
			background-color: #fff;
			.user-face {
				height: 150px;
				width: 100%;
				background-image: url('../images/user_face_bg.jpg');
				background-size: cover;
				opacity: 0.8;
				text-align: center;
				img {
					width: 80px;
					height: 80px;
					border-radius: 50%;
					margin-top: 35px;
				}
			}
		}

		.am-panel-bd {
			p {
				text-align: center;
				margin-bottom: 1rem;
				text-shadow: 1px #333;
			}
		}
	}

	#user-question-list {
		[data-am-widget=tabs] {
			margin: 0;
		}
		.am-tab-panel {
			padding: 0;
			.am-list-news-default {
				margin: 0;
				ul {
					margin-bottom: 0;
					li {
						padding: 8px 1rem;
						a {
							
						}
					}
				}
			}
		}
		.am-tab-panel[data-tab-panel-question], .am-tab-panel[data-tab-panel-be-question] {
			li:first-child {
				border-top: 0;
			}
		}
	}

	 #normal-user-question-list {
		.am-list-news-default {
			margin: 0;
			ul {
				margin-bottom: 0;
				li {
					padding: 8px 1rem;
				}
			}
		}
	}


	#user-question-list, #normal-user-question-list {
		.am-list-item-title {
			i {
				color: rgb(217, 217, 217);
				font-weight: 100;
			}
		}
	}