	

	@font-face {font-family: "iconfont";
	  src: url('../fonts/iconfont.eot'); /* IE9*/
	  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
	  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
	}

	.iconfont {
	  font-family:"iconfont" !important;
	  font-size:16px;
	  font-style:normal;
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-stroke-width: 0.2px;
	  -moz-osx-font-smoothing: grayscale;
	}
	.icon-huidaodingbu:before { content: "\e601"; }
	.icon-dianzan:before { content: "\e600"; }
	.icon-dianzan1:before { content: "\e602"; }
	.icon-guanbi:before { content: "\e603"; }

	body {
		margin: 0;
		padding: 0;
		background-image: url('../images/bg.png');
		background-repeat: no-repeat;
		background-size: cover;
	}

	button {
		border: 0;
		padding: 0;
		margin: 0;
		outline: none;
	}
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	input {
		padding: 0;
		margin: 0;
	}
	
	a {
		text-decoration: none;
	}

	p {
		margin: 0;
		padding: 0;
	}


	#header {
		width: 100%;
		.nav-bar {
			height: 66px;
			margin: 0 auto 1px;
			background-color: #fff;
		    background-image: -moz-linear-gradient(top, #fff, #fafafa);
		    background-image: -ms-linear-gradient(top, #fff, #fafafa);
		    background-image: -webkit-linear-gradient(top, #fff, #fafafa);
		    ul {
		    	height: 100%;
		    	width: 1000px;
		    	padding: 0;
		    	margin: 0 auto;
		    	li {
		    		float: left;
		    		height: 100%;
		    		padding: 0 17px;
		    		cursor: pointer;
		    		a {
		    			line-height: 66px;
		    			font-size: 18px;
		    			color: #0b6ebb;
		    		}
		    	}
		    	li:hover {
		    		background: #079ae6;
		    		background-image: -webkit-linear-gradient(top, #0ba0ed, #0699e5);
		    		border-bottom: 1px solid #028cd3;
		    		a {
		    			color: #fffefe;
		    		}
		    	}
		    	.school-logo {
		    		margin-right: 67px;
		    		padding: 0;
		    		img {
		    			vertical-align: middle;
		    			padding-top: 13px;
		    		}
		    	}
		    }
		}
		.login-reg-btn {
			position: relative;
			height: 33px;
			display: inline;
			opacity: 0;
			line-height: 33px;
			color: #0a6aa7;
			font-size: 18px;
			span {
				cursor: pointer;
			}
		}
	}

	#main {
		width: 1002px;
		margin: 0 auto;
		.teen-logo {
			text-align: center;
			margin-bottom: 154px;
			img {
				text-align: center;
			}
		}
		.main-content {
			overflow: hidden;
			margin-bottom: 50px;
			// 左边侧栏
			.left-sidebar {
				float: left;
				width: 170px;
				.add-question-container {
					padding: 16px;
					margin-bottom: 10px;
					background-color: #f6f7f7;
					p {
						color: #333;
						font-size: 15.72px;
					}
					// @提问
					.at-question {
						margin: 16px 0;
					}
					div {
						button {
							height: 33px;
							width: 100%;
							color: #f4f7fc;
							font-size: 16px;
							background-color: #7ecef4;
							background-image: -moz-linear-gradient(top, #1a8ddf, #1f7ec5);
						    background-image: -ms-linear-gradient(top, #1a8ddf, #1f7ec5);
						    background-image: -webkit-linear-gradient(top, #1a8ddf, #1f7ec5);
							border-radius: 2px;
						    box-shadow: 1px 1px 1px #64daf6;
						    cursor: pointer;
						    &:focus {
						    	outline: none;
						    }
						}
					}
				}
				.website-link {
					padding: 16px;
					background-color: #f6f7f7;
					p {
						color: #333;
						font-size: 15.72px;
					}
					ul {
						li {
							margin: 8px 0;
							a {
								font-size: 14px;
							}
						}
					}
				}
			}

			// 中间主内容
			.middle {
				background-color: #f6f7f7;
				float: left;
				margin: 0 20px;
				width: 558px;
				.list-title {
					height: 43px;
					background-color: #fff;
					.all-question, .ask-me {
						height: 42px;
						width: 78px;
						text-align: center;
						font-size: 14px;
						color: #545454;
						float: left;
						line-height: 43px;
						cursor: pointer;
					}
					.all-question {
						border-right: 1px solid #eee;
					}
					.on-focus {
						color: #5e8bcc;
						border-bottom: 1px solid #5e8cca;
					}
				}

				// 问题列表
				.question-list {
					.question {
						margin-top: 10px;
						padding: 14px 11px 22px;
						background-color: #fff;
						.question-header {
							height: 47px;
							border-bottom: 1px solid #f2f2f2;
							.user-avatar {
								float: left;
								margin-right: 10px;
								img {
									width: 36px;
									height: 36px;
								}
							}
							.user-name {
								color: #262626;
								font-size: 14px;
								margin-bottom: 10px;
							}
							.post-date {
								color: #999;
								font-size: 12px;
							}
						}
						.question-body {
							padding-top: 17px;
							padding-bottom: 14px;
							.question-title {
								font-size: 14px;
								color: #333;
								cursor: pointer;
							}
							.question-content {
								font-size: 12px;
								line-height: 18px;
								color: #333;
								padding-top: 12px;
							}
						}

						// 点赞
						// 回复框
						// 评论列表
						.question-footer {
							// 点赞
							.question-praise {
								width: 100%;
								text-align: right;
								padding-right: 10px;
								color: #fc736b;
								i {
									font-size: 14px;
									cursor: pointer;
									vertical-align: bottom;
								}
								span {
									font-size: 14px;
									vertical-align: bottom;
								}
							}

							// 问题评论列表
							.question-comments-list {
								margin-top: 5px;
								width: 100%;
								.question-comment {
									overflow: hidden;
									width: 540px;
									margin-bottom: 15px;
									.comment-header {
										float: left;
										height: 28px;
										width: 28px;
										img {
											border: none;
										}
									}
									.comment-body {
										float: left;
										width: 502px;
										margin-left: 10px;
										min-height: 28px;
										font-size: 12px;
										.comment-content {
											min-height: 14px;
											.comment-user-name {
												color: #f36c7d;
											}
										}
										.comment-date {
											height: 10px;
											font-size: 10px;
											margin-top: 6px;
											color: #9a9a9a;
											vertical-align: bottom;
										}
									}
								}
							}

							// 回复框
							.question-reply {
								width: 100%;
								padding-top: 14px;
								input {
									width: 444px;
									height: 30px;
									border: 1px solid #ebebeb;
									display: inline;
									padding: 0 8px;
									letter-spacing: .7px;
									outline: none;
									&:focus {
										border-color: #3686c5;
									}
								}
								input::-webkit-input-placeholder {
									color: #9a9a9a;
								}
								button {
									height: 32px;
									width: 70px;
									color: #fff;
									font-size: 12px;
									letter-spacing: 1px;
									line-height: 30px;
									background-color: #3686c5;
									cursor: pointer;
								}
							}
						}
					}
				}
			}

			// 右边侧栏
			.right-sidebar {
				float: left;
				width: 234px;
				// 微博链接
				.weico-link-list {
					background-color: #f6f7f7;
					margin-bottom: 10px;
					p {
						padding: 16px 16px 0;
						color: #333;
						font-size: 15.72px;
					}
					.weico-avatar-list {
						height: 100%;
						padding: 16px 16px 11px;
						li {
							display: inline-block;
							width: 60px;
							margin-bottom: 3px;
							text-align: center;
							span {
								color: #676767;
								font-size: 14px;
								margin-top: 3px;
							}
							img {
								border-radius: 3px;
								border: 2px solid #f6f7f7;
								cursor: pointer;
								height: 58px;
								width: 58px;
								&:hover {
									border-color: #3dc3f1;
								}
							}
						}
						.weico-avatar-middle {
							margin: 0 7px;
						}
					}
				}
				.show-more-weico, .show-more-president {
					width: 100%;
					height: 32px;
					line-height: 32px;
					text-align: center;
					background-color: #fff;
					color: #676767;
					cursor: pointer;
					&:hover {
						background-color: #eee;
					}
				}
				
				// 主席信息
				.president-list {
					background-color: #f6f7f7;
					p {
						padding: 16px 16px;
						color: #333;
						font-size: 15.72px;
					}
					ul {
						li {
							height: 43px;
							padding: 10px 16px;
							img {
								float: left;
							}
							.president-info, .handle {
								float: left;
								margin-left: 10px;
								height: 43px;
								p {
									margin: 0;
									padding: 0;
									font-size: 14px;
									color: #333;
								}
							}
							.president-name, .view-info {
								height: 29px;
							}
							.president-dep, .at-me {
								height: 14px;
							}

							.handle {
								float: right;
								p {
									color: #3886c6;
									cursor: pointer;
								}
							}
						}
						li:nth-child(odd) {
							background-color: #fff;
						}
					}
				}

			}
		}
	}

	#footer {
		height: 70px;
		width: 100%;
		background-color: #167dbf;
		padding: 30px 0;
		text-align: center;
		p {
			margin: 7px 0;
			color: #83c7f2;
			font-size: 14px;
		}
	}

	.dimmer {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: #000300;
		opacity: .5;
		display: none;
	}

	#add-question-view-at {
		min-height: 547px;
		.add-question-view-at-body {
			height: 410px;
			background-color: #f6f7f7;
			padding: 30px;
			select {
				width: 605px;
				margin-left: 1px;
				font-size: 20px;
				&:focus {
					outline: none;
				}
			}
		}
	}

    #add-question-view-public, #add-question-view-at {
    	width: 664px;
		min-height: 467px;
		z-index: 4;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		.add-question-view-public-header, .add-question-view-at-header {
			height: 37px;
			strong {
				color: #fddc28;
				font-size: 24px;
				text-shadow: 0px 0px .3px #ffffbe;
			}
			i {
				float: right;
				font-size: 24px;
				color: #f4f5f5;
				font-weight: bold;
				cursor: pointer;
			}		
		}
		.add-question-view-public-body {
			height: 370px;
			background-color: #f6f7f7;
			padding: 30px;
		}
		.form-control {
			width: 604px;
			margin-bottom: 20px;
			overflow: hidden;
			input {
				height: 18px;
				width: 578px;
				padding: 12px 12px;
				font-size: 14px;
				letter-spacing: 1.2px;
				color: #999;
				border: 1px solid #d8d9d9;
				&:focus {
					outline: none;
				}
			}
			textarea {
				width: 578px;
				height: 229px;
				padding: 12px 12px;
				font-size: 14px;
				border: 1px solid #d8d9d9;
				&:focus {
					outline: none;
				}
			}
			button {
				float: right;
				width: 94px;
				height: 33px;
				background-color: #1b8bdb;
				background-image: -moz-linear-gradient(top, #1a8ddf, #1f7ec5);
			    background-image: -ms-linear-gradient(top, #1a8ddf, #1f7ec5);
			    background-image: -webkit-linear-gradient(top, #1a8ddf, #1f7ec5);
				border-radius: 1px;
				color: #fff;
				font-size: 14px;
				line-height: 33px;
				box-shadow: 1px 1px 1px #3686c4;
				cursor: pointer;
				&:focus {
					outline: none;
				}
			}
		}
    }

